/***************************************
                VARIABLES
****************************************/
:root {
  --transparent-header-height: 6rem;
}

/************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 4rem);
}
.contenedor header {
  padding: 0 6rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-content: center;
  align-items: center;
  height: 6rem;
  z-index: 9;
  background-color: transparent;
  transition: all 0.2s;
}
.contenedor header .logo h1 {
  font-family: "Raleway", sans-serif;
}
.contenedor header nav {
  height: 100%;
}
.contenedor header nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  text-align: center;
  position: relative;
}
.contenedor header nav ul li {
  list-style: none;
  margin: auto;
}
.contenedor header nav ul li .dropdown {
  font-family: "Raleway", sans-serif;
  margin-right: 10px;
}
.contenedor header nav ul li .dropdown span {
  color: #ffffff;
}
.contenedor header nav ul li .dropdown ul {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transition: all 0.4s;
  overflow: hidden;
}
.contenedor header nav ul li .dropdown ul li {
  width: 100%;
  cursor: pointer;
}
.contenedor header nav ul li .dropdown ul li img {
  width: 24px;
  height: 24px;
}
.contenedor header nav ul li .dropdown ul li:hover {
  background-color: #d1e9ff;
}
.contenedor header nav ul li .dropdown:hover ul {
  max-height: 400px;
  background-color: #66b5ff;
  border-radius: 5px;
  margin-top: 1rem;
}
.contenedor header nav ul li .dropdown:hover span {
  visibility: hidden;
}
.contenedor header nav ul li a {
  font-weight: 500;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-right: 10px;
}
.contenedor header nav ul li a.link_trabajos {
  color: #ffffff;
  background-color: #ffb12a;
  padding: 0.8rem 1rem;
  font-weight: 500;
  border-radius: 30px;
}
.contenedor header nav ul li a:hover {
  color: #575757;
}
.contenedor header nav .menu_bar {
  display: none;
}
.contenedor .seccion_titulos {
  padding: 4rem 0;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.contenedor .seccion_titulos h1 {
  color: #3896ed;
  font-size: 2.5rem;
}
.contenedor .seccion_titulos p {
  margin-top: 1rem;
}
.contenedor main {
  position: relative;
  width: 100%;
}
.contenedor main .contenido_primero {
  position: relative;
  padding: 0 6rem;
  width: 100%;
  z-index: 3;
  background-color: #2581d6;
}
.contenedor main .contenido_primero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/banner.png");
  background-repeat: no-repeat;
  right: 0;
  background-size: cover;
  object-fit: cover;
  z-index: -1;
  bottom: 0;
}
.contenedor main .contenido_primero .landing_grid_banner {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-content: center;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos {
  display: block;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo {
  margin-bottom: 1.5rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span {
  line-height: 3.8rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span h1 {
  font-size: 4em;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span h3 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_parrafo {
  margin-bottom: 2.5rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_parrafo span p {
  font-family: "Raleway", sans-serif;
  color: #c6e4ff;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_boton a {
  text-decoration: none;
  background-color: #3896ed;
  padding: 0.8rem 1.2rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  border-radius: 30px;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_boton a:hover {
  background-color: #095194;
  transition: all 0.2s;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0;
}
.contenedor main .contenido_segundo {
  padding: 0 6rem;
  position: relative;
  background-color: #f6fbff;
  width: 100%;
  height: 100%;
}
.contenedor main .contenido_segundo .secundario_contenido {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4rem;
  height: 100%;
  margin: 4rem auto 0;
  max-width: 1400px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_imagen {
  height: 400px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_imagen img {
  width: 600px;
  position: absolute;
  height: 650px;
  bottom: 0;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards {
  justify-content: flex-end;
  align-items: flex-end;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4fr 7fr;
  align-content: center;
  width: 500px;
  border-radius: 16px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover:before {
  position: absolute;
  content: "";
  background: rgba(122, 169, 255, 0.286);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  z-index: 1;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.uno {
  background-color: #bcd1ff;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.dos {
  background: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.tres {
  background: linear-gradient(135deg, #44f7d0 0%, #fed182 100%);
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen figure img {
  width: 110px;
  height: 110px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
  padding: 1em 1.5em;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto section {
  margin-bottom: 1em;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto section h1 {
  margin-bottom: 10px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover figure {
  width: 110px;
  transform: scale(1.1);
}
.contenedor main .contenido_tres {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  flex-direction: column;
  margin: auto;
  padding: 0 6rem;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 210px);
  gap: 24px;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio {
  position: relative;
  list-style: none;
  cursor: pointer;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a {
  display: block;
  height: 100%;
  text-decoration: none;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_imagen {
  display: block;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100%;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_imagen img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  padding: 24px;
  opacity: 0;
  transition: all 0.3s ease-in 0s;
  position: absolute;
  inset: 0px;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info h3 {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin-bottom: 16px;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info h3.fuente_larga {
  font-size: 3rem;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info h3.fuente_corta {
  font-size: 1.5rem;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info button {
  padding: 0.8em 1em;
  height: 40px;
  background-color: #3896ed;
  font-family: "Raleway", sans-serif;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a .tercero_portafolio_info:hover {
  background: rgba(4, 0, 30, 0.5);
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(8px);
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio a:hover .tercero_portafolio_info {
  visibility: visible;
  opacity: 1;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio.primero {
  grid-area: 1/1/3/3;
}
.contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio.sexto {
  grid-area: 3/2/5/4;
}

/*
*******************************RESPONSIVE*****************************************
*/
@media (max-width: 1335px) {
  .contenedor header {
    padding: 0 20px;
  }
  .contenedor main .contenido_primero {
    padding: 0 20px;
  }
  .contenedor main .contenido_primero .landing_grid_banner {
    padding: 6rem 1rem 20px;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_textos {
    text-align: center;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .contenedor main .contenido_segundo {
    padding: 0 20px;
  }
  .contenedor main .contenido_segundo .secundario_contenido {
    padding-bottom: 9rem;
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_imagen img {
    right: 6rem;
    width: 315px;
    height: 350px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .contenedor header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #ededed;
  }
  .contenedor header nav {
    display: flex;
  }
  .contenedor header nav ul {
    position: absolute;
    background-color: #ffffff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    right: -100%;
    transition: all 0.2s;
    top: 64px;
    padding: 0.8rem;
    width: 100%;
  }
  .contenedor header nav ul.menu_show {
    right: 0;
  }
  .contenedor header nav ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .contenedor header nav ul li a {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 0;
  }
  .contenedor header nav .menu_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
  }
  .contenedor main .contenido_primero {
    padding: 0 20px;
  }
  .contenedor main .contenido_segundo .secundario_contenido {
    justify-content: center;
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_imagen {
    display: none;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover:before {
    background: rgba(246, 249, 255, 0.286);
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen {
    border-bottom-left-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.uno, .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.dos, .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.tres {
    background: #ffffff;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen figure {
    transition: none;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen figure img {
    z-index: 3;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.9rem;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover figure {
    transform: none;
  }
  .contenedor main .contenido_tres {
    padding: 0 20px;
  }
  .contenedor main .contenido_tres .tercero_contenedor_protafolio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 210px);
  }
  .contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio {
    list-style: none;
  }
  .contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio.primero {
    grid-area: 1/1;
  }
  .contenedor main .contenido_tres .tercero_contenedor_protafolio .tercero_potafolio.sexto {
    grid-area: 5/1;
  }
}
@media (max-width: 624px) {
  .contenedor .seccion_titulos h1 {
    font-size: 2rem;
  }
  .contenedor main .contenido_segundo {
    padding: 1rem 20px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards {
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover:before {
    background: rgba(246, 249, 255, 0.286);
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
    padding: 1rem 4rem;
  }
}
@media (max-width: 580px) {
  .contenedor header {
    text-align: center;
    grid-gap: 20px;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
    justify-content: center;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen img {
    width: 400px;
    height: 400px;
  }
  .contenedor main .contenido_segundo {
    padding: 0 20px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards {
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover:before {
    background: rgba(246, 249, 255, 0.286);
  }
}
@media (max-width: 480px) {
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
    padding: 1rem 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
