/***************************************
                VARIABLES
****************************************/
:root {
  --transparent-header-height: 6rem;
}
$fuente-principal: "Raleway", sans-serif;
$color-principal: #3896ed;
$color-textos: #5a5a5a;
$padding: 0 6rem;
$padding-responsive: 0 20px;
$min-height: 100vh;
/************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 4rem);
  header {
    padding: $padding;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    align-content: center;
    align-items: center;
    height: 6rem;
    z-index: 9;
    background-color: transparent;
    transition: all 0.2s;
    .logo {
      h1 {
        font-family: $fuente-principal;
      }
    }

    nav {
      height: 100%;
      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
        text-align: center;
        li {
          list-style: none;
          margin: auto;
          a {
            font-weight: 500;
            text-decoration: none;
            font-family: $fuente-principal;
            color: $color-textos;
            margin-right: 10px;
            &.link_trabajos {
              color: #095194;
            }
            &:hover {
              color: #575757;
            }
          }
        }
      }
      .menu_bar {
        display: none;
      }
    }
  }
  main {
    position: relative;
    width: 100%;

    .contenido_primero {
      position: relative;
      padding: $padding;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: url("../img/vector-banner.svg");
        background-repeat: no-repeat;
        right: 0;
        background-size: cover;
        z-index: -1;
      }
      .landing_grid_banner {
        padding: 6rem 0;
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-content: center;
        align-items: center;
        .contenedor_textos {
          display: block;
          .contenido_titulo {
            margin-bottom: 1.5rem;
            span {
              line-height: 3.8rem;
              h1 {
                font-size: 4em;
                color: $color-principal;
                font-family: $fuente-principal;
                font-weight: 800;
              }
              h3 {
                color: $color-textos;
                font-family: $fuente-principal;
                font-size: 1.5em;
                font-weight: bold;
              }
            }
          }
          .contenido_parrafo {
            margin-bottom: 2.5rem;
            span {
              p {
                font-family: $fuente-principal;
                color: $color-textos;
              }
            }
          }
          .contenido_boton {
            a {
              text-decoration: none;
              background-color: $color-principal;
              padding: 0.8rem;
              color: #ffffff;
              font-family: $fuente-principal;
              border-radius: 5px;
              &:hover {
                background-color: #095194;
                transition: all 0.2s;
              }
            }
          }
        }
        .contenedor_imagen {
          display: flex;
          justify-content: flex-end;
        }
      }
    }

    .contenido_segundo {
      padding: $padding;
      position: relative;
      background-color: #f6fbff;
      width: 100%;
      height: 100%;

      .secundario_titulos {
        padding: 4rem 0;
        width: 100%;
        text-align: center;
        font-family: $fuente-principal;

        h1 {
          color: $color-principal;
          font-size: 2rem;
        }
      }
      .secundario_contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 4rem;
        height: 100%;
        margin-top: 4rem;
        .secundario_imagen {
          height: 400px;

          img {
            width: 600px;
            position: absolute;
            height: 650px;
            bottom: 0;
          }
        }
        .secundario_cards {
          justify-content: flex-end;
          align-items: flex-end;
          .card {
            position: relative;
            cursor: pointer;
            display: grid;
            grid-template-columns: 4fr 7fr;
            align-content: center;
            width: 500px;
            border-radius: 16px;
            background-color: #ffffff;
            margin: auto;
            margin-bottom: 1rem;
            font-family: $fuente-principal;
            &:hover:before {
              position: absolute;
              content: "";
              background: rgba(122, 169, 255, 0.286);
              width: 100%;
              height: 100%;
              border-radius: 16px;
              z-index: 1;
            }

            .card_imagen {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 1em;
              display: flex;
              justify-content: center;
              align-items: center;
              border-bottom-left-radius: 16px;
              border-top-left-radius: 16px;
              &.uno {
                background-color: #bcd1ff;
              }
              &.dos {
                background: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
              }
              &.tres {
                background: linear-gradient(135deg, #44f7d0 0%, #fed182 100%);
              }
              figure {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: all 0.4s;
                img {
                  width: 110px;
                  height: 110px;
                }
              }
            }

            .card_texto {
              padding: 1em 1.5em;
              section {
                margin-bottom: 1em;
                h1 {
                  margin-bottom: 10px;
                }
              }
            }
            &:hover figure {
              width: 110px;
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
/*
*******************************RESPONSIVE*****************************************
*/
@media (max-width: 1335px) {
  .contenedor {
    header {
      padding: $padding-responsive;
    }
    main {
      .contenido_primero {
        padding: $padding-responsive;
      }
      .contenido_segundo {
        padding: $padding-responsive;

        .secundario_contenido {
          padding-bottom: 9rem;
          grid-template-columns: 1fr;
          margin-top: 0;
          .secundario_imagen {
            img {
              right: 6rem;
              width: 315px;
              height: 350px;
            }
          }
          .secundario_cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            width: 100%;
            .card {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .contenedor {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        display: flex;
        ul {
          position: absolute;
          background-color: rgb(195, 195, 250);
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          height: 100vh;
          right: -100%;
          transition: all 0.2s;
          top: 64px;
          padding: 0.8rem;
          width: 100%;
          &.menu_show {
            right: 0;
          }
          li {
            width: 100%;
            margin: 0;
            margin-bottom: 1rem;

            a {
              display: flex;
              justify-content: flex-start;
              margin-bottom: 1rem;
              width: 100%;
              padding: 1rem 0;
            }
          }
        }
        .menu_bar {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;
        }
      }
    }
    main {
      .contenido_primero {
        padding: $padding-responsive;
        .landing_grid_banner {
          padding: 6rem 20px;
          grid-template-columns: 1fr;
          .contenedor_textos {
            text-align: center;
          }
          .contenedor_imagen {
            margin-top: 3rem;
            justify-content: center;
            img {
              width: 350px;
              height: 350px;
            }
          }
        }
      }
      .contenido_segundo {
        .secundario_contenido {
          justify-content: center;
          grid-template-columns: 1fr;
          padding-bottom: 4rem;
          .secundario_imagen {
            display: none;
          }
          .secundario_cards {
            .card {
              width: 100%;
              grid-template-columns: 1fr;
              &:hover:before {
                background: rgba(246, 249, 255, 0.286);
              }
              .card_imagen {
                border-bottom-left-radius: 0;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                &.uno,
                &.dos,
                &.tres {
                  background: #ffffff;
                }
                figure {
                  transition: none;
                  img {
                    z-index: 3;
                  }
                }
              }
              .card_texto {
                text-align: center;
                padding: 1rem 2rem;
                font-size: 0.9rem;
              }
              &:hover figure {
                transform: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 624px) {
  .contenedor {
    main {
      .contenido_segundo {
        padding: 1rem 20px;
        .secundario_contenido {
          .secundario_cards {
            grid-template-columns: 1fr;
            .card {
              width: 100%;
              grid-template-columns: 1fr;
              &:hover:before {
                background: rgba(246, 249, 255, 0.286);
              }
              .card_texto {
                padding: 1rem 4rem;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 580px) {
  .contenedor {
    header {
      text-align: center;
      grid-gap: 20px;
      height: 90px;
    }
    main {
      .contenido_primero {
        .landing_grid_banner {
          .contenedor_imagen {
            justify-content: center;
            img {
              width: 250px;
              height: 250px;
            }
          }
        }
      }
      .contenido_segundo {
        padding: $padding-responsive;
        .secundario_contenido {
          .secundario_cards {
            grid-template-columns: 1fr;
            .card {
              width: 100%;
              grid-template-columns: 1fr;
              &:hover:before {
                background: rgba(246, 249, 255, 0.286);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .contenedor {
    main {
      .contenido_segundo {
        .secundario_contenido {
          .secundario_cards {
            .card {
              .card_texto {
                padding: 1rem 1rem;
              }
            }
          }
        }
      }
    }
  }
}
