/***************************************
                VARIABLES
****************************************/
:root {
  --transparent-header-height: 6rem;
}

/************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 4rem);
}
.contenedor header {
  padding: 0 6rem;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-content: center;
  align-items: center;
  height: 6rem;
  z-index: 2;
  background-color: transparent;
  transition: all 0.2s;
}
.contenedor header .logo h1 {
  font-family: "Raleway", sans-serif;
}
.contenedor header nav {
  width: 100%;
  height: 100%;
}
.contenedor header nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  text-align: center;
}
.contenedor header nav ul li {
  list-style: none;
  margin: auto;
}
.contenedor header nav ul li a {
  font-weight: 500;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #5a5a5a;
  margin-right: 10px;
}
.contenedor header nav ul li a.link_trabajos {
  color: #095194;
}
.contenedor header nav ul li a:hover {
  color: #575757;
}
.contenedor main {
  position: relative;
  width: 100%;
}
.contenedor main .contenido_primero {
  position: relative;
  padding: 0 6rem;
}
.contenedor main .contenido_primero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../img/vector-banner.svg");
  background-repeat: no-repeat;
  right: 0;
  background-size: cover;
  z-index: -1;
}
.contenedor main .contenido_primero .landing_grid_banner {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-content: center;
  align-items: center;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos {
  display: block;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo {
  margin-bottom: 1.5rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span {
  line-height: 3.8rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span h1 {
  font-size: 4em;
  color: #3896ed;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_titulo span h3 {
  color: #5a5a5a;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_parrafo {
  margin-bottom: 2.5rem;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_parrafo span p {
  font-family: "Raleway", sans-serif;
  color: #5a5a5a;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_boton a {
  text-decoration: none;
  background-color: #3896ed;
  padding: 0.8rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_textos .contenido_boton a:hover {
  background-color: #095194;
  transition: all 0.2s;
}
.contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
  display: flex;
  justify-content: flex-end;
}
.contenedor main .contenido_segundo {
  padding: 1rem 6rem;
  position: relative;
  background-color: #f6fbff;
  width: 100%;
  height: 100%;
}
.contenedor main .contenido_segundo .secundario_titulos {
  padding-top: 60px;
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 9rem;
}
.contenedor main .contenido_segundo .secundario_titulos h1 {
  color: #3896ed;
  font-size: 2rem;
}
.contenedor main .contenido_segundo .secundario_contenido {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_imagen {
  height: 400px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_imagen img {
  width: 600px;
  position: absolute;
  height: 650px;
  bottom: 0;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards {
  justify-content: flex-end;
  align-items: flex-end;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
  position: relative;
  cursor: pointer;
  display: grid;
  grid-template-columns: 4fr 7fr;
  align-content: center;
  width: 500px;
  border-radius: 16px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover:before {
  position: absolute;
  content: "";
  background: rgba(255, 245, 245, 0.286);
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen img {
  width: 110px;
  height: 110px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
  padding: 1em 1.5em;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto section {
  margin-bottom: 1em;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto section h1 {
  margin-bottom: 10px;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card:hover figure {
  width: 110px;
  transform: scale(1.2);
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .uno {
  background-color: #bcd1ff;
}
.contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .dos {
  background: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
}

@media (max-width: 992px) {
  .contenedor main .contenido_primero {
    padding: 1rem 20px;
  }
  .contenedor main .contenido_primero .landing_grid_banner {
    padding: 6rem 20px;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_textos {
    text-align: center;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
    margin-top: 3rem;
    justify-content: center;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen img {
    width: 350px;
    height: 350px;
  }
  .contenedor main .contenido_segundo .secundario_titulos {
    margin-bottom: 5rem;
  }
  .contenedor main .contenido_segundo .secundario_contenido {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_imagen {
    display: none;
  }
}
@media (max-width: 580px) {
  .contenedor header {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 20px;
    padding: 20px 20px;
    height: 90px;
  }
  .contenedor header nav ul {
    display: flex;
    justify-content: space-between;
  }
  .contenedor header nav ul li a {
    margin: 0;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen {
    justify-content: center;
  }
  .contenedor main .contenido_primero .landing_grid_banner .contenedor_imagen img {
    width: 250px;
    height: 250px;
  }
  .contenedor main .contenido_segundo {
    padding: 1rem 20px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen {
    border-bottom-left-radius: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.uno, .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_imagen.dos {
    background: #ffffff;
  }
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
    text-align: center;
    padding: 1rem 4rem;
  }
}
@media (max-width: 480px) {
  .contenedor main .contenido_segundo .secundario_contenido .secundario_cards .card .card_texto {
    padding: 1rem 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
